<div class="container">
  <h1>My reviews</h1>
  <div class="cards">
    <% if @reviews != nil %>
      <% @reviews.each do |review| %>
      <div class="card-car">
        <div class="card-car-infos">
          <h5> <%= review.car.model %></h5>
         <%= review.description %> for <%= link_to '', edit_car_review_path(review.car, review), class: 'fas fa-edit' %>
          <%= link_to '', car_review_path(review.car, review),
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        class: 'far fa-trash-alt'
          %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
