.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 40px 0;
}

.cards-home {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.card {
  border-radius: 8px;
  background-color: rgb(240, 240, 510);
  box-shadow: 1px 2px 4px 0 rgba($color: $black, $alpha: .20);
  &:hover {
  box-shadow: 0px 0px 0px 0;
  }
}
// card homepage

.card-home {
  min-width: 212px;
  align-items: center;
}

.card-home img {
  height: 80%;
  width: 212px;
  object-fit: cover;
  border-radius: 8px;
}

// card car

.card-car {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 24px;
   &:hover {
  box-shadow: 0px 0px 0px 0;
  }
}

.card-car img {
  height: 100%;
  width: 120px;
  object-fit: center;
}

.card-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-car p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-car .card-car-infos {
  padding: 16px;
}
