<div class="container">
  <h1>Cars</h1>
  <p> Here are all the cars available</p>
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-card-infos">
          <h2><%= car.model %></h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
          <%= link_to 'See more', car_path(car)%>
        </div>
      </div>
    <% end %>
  </div>
</div>
